<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1><%= message %></h1>
  <h1 class="titulo">Jogos de Esportes</h1>
  <div class="flex-conteiner">
  <a href = "/produtos">
    <div>
        <a href = "/produtos">
        <img src="https://m.media-amazon.com/images/I/813FuI3y8zL._AC_SX385_.jpg" alt="">
        <p><strong>FIFA 23 Xbox One<br>
            Xbox 360 </strong></p>
            <p><strong>Preço:</strong> R$249,92</p>
        </a>
    </div>
  
    <div>
        <img src="https://m.media-amazon.com/images/I/71vueWNXEfL._AC_SX522_.jpg" alt="">
        <p><strong>Jogo PES 2017 Pro Evolution Soccer<br>
            XBOX ONE </strong></p>
            <p><strong>Preço:</strong> R$93,66</p>
    </div>

    <div>
        <img src="https://m.media-amazon.com/images/I/71Ryc5QvxLL._AC_SX385_.jpg" alt="">
        <p><strong> Pro Evolution Soccer eFootball PES 2020<br>
            XBOX ONE</strong></p>
            <p><strong>Preço:</strong> R$16,95</p>
    </div>

    <div>
        <img src="https://m.media-amazon.com/images/I/81DrHt5-OBL._AC_UL320_.jpg" alt="">
        <p><strong>Fifa 22 - Br Xbsx <br>
            XBOX 360</strong></p>
            <p><strong>Preço:</strong> R$74,44</p>
    </div>
</div>
 
</body>
</html>
