<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1 style="text-align: center;"><strong>Jogo de Futebol<br></strong></h1>
  <div class="flex-conteiner">
    <div>
      
        <img class="produto"src="https://m.media-amazon.com/images/I/71Ryc5QvxLL._AC_SX385_.jpg" alt="">
     
        <h1 style="text-align: center;">Pro Evolution Soccer eFootball PES 2020<br>
          XBOX ONE</strong></h1>
            <h2 style="text-align: center;"><strong>Preço:</strong> R$16,95</h2>
    </div>
    
   
</div>

</body>
</html>