<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1 style="text-align: center;"><strong>Jogo de Futebol<br></strong></h1>
  <div class="flex-conteiner">
    <div>
      
        <img class="produto"src="https://m.media-amazon.com/images/I/81DrHt5-OBL._AC_UL320_.jpg" alt="">
     
        <p style="text-align: center;"><h1><strong>Fifa 22 - Br Xbsx <br>
          XBOX 360</strong></h1>
            <h2 style="text-align: center;"><strong>Preço:</strong> R$74,44</h2>
    </div>
    
   
</div>

</body>
</html>