<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1 style="text-align: center;"><strong>Jogo de Futebol<br></strong></h1>
  <div class="flex-conteiner">
    <div>
      
        <img class="https://m.media-amazon.com/images/I/71vueWNXEfL._AC_SX522_.jpg" alt="" alt="">
     
        <h1 style="text-align: center;">Jogo PES 2017 Pro Evolution Soccer<br>
          XBOX ONE </strong></h1>
            <h2 style="text-align: center;"><strong>Preço:</strong> R$93,66</h2>
    </div>
    
   
</div>

</body>
</html>