<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1 style="text-align: center;"><strong>Jogo<br></strong></h1>
   
  <div class="card-group">
    <div>
      <div class="card">
      <a href="/produto1">
        
        <img src="/imagem/<%=produto.imagem%>" alt="" alt="">
      </a>
      <p><strong><%=produto.nome%><br>
         </strong></p>
      <p> <strong>Preço: </strong><%=produto.preco%><br>
         </p>
      <p><strong>Descrição: </strong><%=produto.descricao%><br>
         </p>  
          
  </div>
</div>
</div>

</body>
</html>