<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1 style="text-align: center;"><strong>Jogo de Futebol<br></strong></h1>
   
  <div class="flex-conteiner">
    <div>
      
        <img class="produto"src="https://m.media-amazon.com/images/I/813FuI3y8zL._AC_SX385_.jpg" alt="" alt="">

        <h2 style="text-align: center;"><strong>Preço:</strong> Pro Evolution Soccer eFootball PES 2020</h2>

        <h2 style="text-align: center;"><strong>Preço:</strong> R$249,92</h2>

        <p style="text-align: center;"><strong>EA SPORTS FIFA 23 traz o Maior Jogo do Mundo aos 
          gramados com a tecnologia HyperMotion2,entregando ainda maisrealismo nas partidas,
          a FIFA World Cup masculina e feminina, a inclusão de clubes femininos, 
          recursos de crossplay e muito mais.</p>

    </div>
    
   
</div>

</body>
</html>